@font-face {
 font-family: "Poppins";
 src: url("./Poppins-Regular.ttf") format("truetype");
}

@font-face {
 font-family: "Work";
 src: url("./WorkSans-Regular.ttf") format("truetype");
}

@font-face {
 font-family: "Work_light";
 src: url("./WorkSans-Light.ttf") format("truetype");
}

@media all and (max-device-width: 480px) {

    .intro {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
    }
    
    .head {
        flex:1;
    }
        
    .summary {
        border-left: 3px solid;
        margin-top: 1em;
        padding-left: 1em;
        line-height: 170%;
    }
    .preamble {
        background-color: rgb(195,211,178);
        margin-top: 3em;
        padding: 1ex;
        line-height: 170%;
    }

    h1 {
        width: auto;
        font-size: 3em;
        margin-bottom: 2px;
    }

    h2 {
        font-size: 3ex;
        margin: 2px;
    }

    h3 {
        font-size: 122%;
        padding-left: 1em;
        text-align: center
    }
    

    p {
        font-size: 70%;
        margin: 2px;
    
    }
    
    .main {
        margin-top: 1em;
        display: flex;
        flex-wrap: wrap;
        }
    
    .explanation {
        margin-top: 1ex;
        padding: 1ex;
        line-height: 170%;
        background-color: antiquewhite;
    }
    
    .participation {
        margin-top: 1ex;
        padding: 1ex;
        line-height: 170%;
        background-color: rgb(195,211,178);
    }

    .benefits {
        margin-top: 1ex;
        padding: 1ex;
        line-height: 170%;
        background-color: antiquewhite
    }
    
    .requirements {
        margin-top: 1ex;
        margin-bottom: 1ex;
        padding: 1ex;
        line-height: 170%;
        background-color: rgb(195,211,178);
    }
    
    footer {
        flex: 1;
        word-spacing: 1em;
        font-size: 1em;
        margin-top: 1ex;
        justify-content: space-evenly;

    }
    
    .wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        font-size: 85%;
    }
}


@media screen and (max-width:1079px) {
    .intro {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
    }
    
    .head {
    }
    
    .summary {
        border-left: 3px solid;
        margin: 1em;
        padding-left: 1em;
        line-height: 150%;
    }
    .preamble {
        background-color: rgb(195,211,178);
        margin-top: 3em;
        margin-right: 1ex;
        margin-left: 1ex;
        padding: 1em;
        line-height: 150%;
        
    }

    h1 {
        font-size: 4em;
        margin: 2px;
    }

    h2 {
        font-size: 2em;
        margin: 2px;
    }

    h3 {
        font-size: 122%;
        padding-left: 1em;
    }
    

    p {
        font-size: 1em;
        margin: 2px;
    
    }
    
    .main {
        margin-top: 3em;
        display: flex;
        flex-wrap: wrap;
        }
    
    .explanation {
        margin: 1ex;
        padding: 1ex;
        line-height: 150%;
        background-color: antiquewhite;
    }
    
    .participation {
        margin: 1ex;
        padding: 1ex;
        line-height: 150%;
        background-color: rgb(195,211,178);
    }

    .benefits {
        margin: 1ex;
        padding: 1ex;
        line-height: 150%;
        background-color: antiquewhite
    }
    
    .requirements {
        margin-top: 1em;
        margin-bottom: 1ex;
        padding: 1em;
        line-height: 150%;
        background-color: rgb(195,211,178);
    }
    
    footer {
        flex: 1;
        word-spacing: 2em;
        font-size: 3ex;
        margin-top: 1ex;
        padding: 2em;

    }
    
    .wrapper {
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        font-size: 85%;
    }
}

@media screen and (min-width:1080px) {
    .intro {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        
        
    }
    
    .head {
        flex: 1;
    }
    
    .summary {
        border-left: 3px solid;
        margin: 1em;
        padding-left: 1em;
        flex: 1;
        line-height: 150%;
    }
    .preamble {
        background-color: rgb(195,211,178);
        margin-top: 4em;
        padding: 1em;
        line-height: 150%;
        
    }

    h1 {
        font-size: 4em;
        margin: 2px;
    }

    h2 {
        font-size: 2em;
        margin: 2px;
    }

    h3 {
        font-size: 3ex;
        padding-left: 1em;
    }

    p {
        font-size: 1em;
        margin: 2px;
    
    }
    
    .main {
        margin-top: 3em;
        display: flex;
        flex-wrap: wrap;
        }
    
    .explanation {
        flex: 1;
        margin: 1ex;
        padding: 1ex;
        line-height: 150%;
        border-right: 2px solid black;
    }
    
    .participation {
        flex: 1;
        margin: 1ex;
        padding: 1ex;
        line-height: 150%;
    }

    .benefits {
        flex: 1;
        margin: 1ex;
        padding: 1ex;
        border-left: 2px solid;
        line-height: 150%;
    }
    
    .requirements {
        margin-top: 1em;
        margin-bottom: 1ex;
        padding: 1em;
        line-height: 150%;
        background-color: rgb(195,211,178);
    }
    
    footer {
        flex: 1;
        word-spacing: 5em;
        font-size: 3ex;
        margin-top: 1ex;
        padding: 2em;
        justify-content: space-evenly;

    }
    
    .wrapper {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-evenly;       
    }
}

@media all {
    header {
        padding: 2em;
    }
    footer {
        text-align: center;
        background-color: rgb(68,89,66);
        font-family: Work, sans-serif, serif;
    }
    
    .wrapper {
        background-color: rgb(60,81,58);
        color: white;

    }
    .design-name {
        color: antiquewhite;
    }
    
    .designer-name {
        color: antiquewhite;
    }
    
    .zen-validate-html {
        color: antiquewhite;
    }
    
    .zen-validate-css {
        color: antiquewhite;
    }
    
    .zen-license {
        color: antiquewhite;
    }
    
    .zen-accessibility {
        color: antiquewhite;
    }
    
    .zen-github {
        color: antiquewhite;
    }
    
    h1 {
        font-family: Poppins, sans-serif, serif;

    }
    
    h2 {
        font-family: Work_light, sans-serif, serif;
    }
    
    h3 {
        font-family: Work_light, sans-serif, serif;
    }
    
    p {
        font-family: Work, sans-serif;
        text-align: justify;

    }
    
    a {
        color: cadetblue
    }
    
    ul{
        color: white;
        font-family: Work, sans-serif;
    }
}