body
{
    font-family: Arial, Helvetica, sans-serif;
    background-color:lightskyblue;
    color: #212121;
    letter-spacing: -.0028rem;
    font-size: 100%;
    margin: auto;
    height: 100%;
    display: grid;
}

@font-face {
    font-family: "Zilla Slab";
    font-style: normal;
    font-weight: bold;
    src: url("../polices/zilla-slab/woff2/ZillaSlab-Bold.woff2") format("woff2");
   }

@font-face {
    font-family: "Zilla Slab";
    font-style: normal;
    font-weight: normal;
    src: url("../polices/zilla-slab/woff2/ZillaSlab-Regular.woff2") format("woff2");
   }

.bandeau
{
    background-image: url(../images/blueprint.png), linear-gradient(to bottom, #1f4d78, #1862a7);
    background-color: #1f4d78;
    color: #fff;
    text-align: center;
    position: relative;
    z-index: 2;
    grid-row-start: 0;
    grid-row-end: 1;
    grid-column-start: 1;
    grid-column-end: 4;
    display: inline-block;
    max-width: 100%;
    white-space:nowrap;
}

.logo
{
    position: relative;
    border-radius: 4rem;
    border: solid 0.5rem rgb(5, 163, 255);
    width: 4rem;
    height: 4rem; 
    vertical-align:-0.75rem;
    display: inline-block;
    margin-right: 1rem;
    border-right-color:transparent;
    z-index: 2;
    display: inline-block;
    /*animation:rotate 1s normal infinite;
    animation-direction: alternate;*/
}

.logo-bar
{
    position: relative;
    border-radius: 4rem;
    border: solid 0.5rem transparent;
    width: 4rem;
    height: 4rem; 
    vertical-align:-0.75rem;
    display: inline-block;
    margin-left: -6rem;
    margin-right: 1rem;
    /*border-right-color: rgb(5, 163, 255);
    border-right-style: dashed;*/
    border-right-color: rgb(23, 133, 197);
    z-index: 3;
    animation: tour 2s infinite;
    animation-direction: alternate;
    display: inline-block;
}

.logo-bar1
{
    position:static;
    border-radius: 4rem;
    border: solid 0.75rem transparent;
    width: 4rem;
    height: 4rem; 
    vertical-align:-0.75rem;
    display: inline-block;
    margin-left: -6.2425rem;
    margin-bottom: -0.25rem;
    margin-right: 1rem;
    /*border-right-color:rgb(0, 127, 201);
    border-right-style: groove;*/
    border-left-color: rgb(0, 162, 255);
    border-left-style:double;
    z-index: 1;
    animation: tour 2s infinite;
    animation-direction: alternate;
    display: inline-block;
}

@keyframes tour 
{
    to
    {
        transform: rotate(360deg);
    }
}

.titre
{
    color: #fff;
    display:inline-block;
    padding: 0rem;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
}

.morceau-titre
{
    transition: transform .8s ease-in-out;
    display: inline-block;

}

.titre:hover .morceau-titre
{
    color:orangered;
    transform: rotate(180deg);
} 

.page-class
{
    /*padding-right: 25%;
    margin-right: 25%;*/
    font-size: 1.25rem;
    display: flex;
    margin: 2%;
    text-align: left;
    position: relative;
    box-sizing: border-box;
    grid-row-start: 1;
    grid-row-end: 4;
    grid-column-start: -1;
    grid-column-end: 3;
}

.page-class h1, h2, h3
{
    color: #0e415a;
    font-family: 'Zilla Slab';
}

.page-class h2
{
    font-size: 2.4rem;
}

.page-class h3
{
    font-size: 1.9rem;
    font-weight: 400;
}

.page-class img
{
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}

/*
section.carte
{
    font-size: 1.5rem;
    color: tomato; 
    background-color:crimson;
    font-family: Helvetica, sans-serif;
}*/

.sidebar
{
    
    grid-row-start: 1;
    grid-row-end: 4;
    grid-column-start: 3;
    grid-column-end: 4;
    overflow: hidden;
    right: 0;
}

.sidebar > p 
{
    margin: .1rem;
}

.sidebar #sandwich-menucheck
{
    display: none;
}

.sidebar .sandwich-label
{
    position:absolute;
    right: 0rem;
    top: 7rem;
    display:block;
    z-index: 4;
}

.sidebar .bar
{
    background-color: rgb(42, 177, 255);
    width: 2rem;
    height: 0.2rem;
    margin: 0.6rem 0.5rem;
    z-index: 4;
    position: relative;
}

.sidebar .sandwich-label:hover .bar
{
    background-color:rgb(164, 219, 252);
}

.sidebar #sandwich-menucheck:checked + .sandwich-label
{
    transform: rotate(90deg);
}

.sidebar #menu
{
    display: none;
    padding: 2%;
    padding-top: -2%;
    padding-left: 1rem;
    padding-right: 2rem;
    margin-left: 4%; 
    font-style: italic;
    color: #29627e; 
    z-index: 4;
    min-width: 100%;
    min-height: 100vh;/*calc(100vh - 11.25rem);*/
    right: 0;
    height: 100%;
    user-select: none;
    box-shadow: inset 5px 0 5px -5px #29627e;
    background-color: rgb(150, 210, 247);
}

.sidebar #sandwich-menucheck:checked~#menu
{
    display:block;
}

.zimg
{
    max-width: 100%;
    text-align: left;
    display: block;
    left: 0;
}

@media only screen and (max-width: 900px)
{
    .page-class
    {
        grid-row-start: 2;
        grid-row-end: 4;
        grid-column-start: 1;
        grid-column-end: 4;
    }

    .sidebar
    {  
        grid-row-start: 1;
        grid-row-end: 1;
        grid-column-start: 1;
        grid-column-end: 4;
        background-color: rgb(42, 177, 255);
        height: auto;
        min-height: auto;
    }

    .sidebar #menu
    {
        height: auto;
        min-height: auto;
    }
}

@media (hover: none) and (pointer: coarse) /* only screen and (max-width: 900px)*/
{
    h1 
    {
        font-size: 6rem;
    }
    
    h2 
    {
        font-size: 4rem;
    }

    .page-class h2
    {
        font-size: 4rem;
    }
    
    h3 
    {
        font-size: 2rem;  
    }

    .page-class h3
    {
        font-size: 2rem;
    }
    
    p 
    {
        font-size: 2rem;
    }

    .page-class p
    {
        font-size: 2rem;
    }

    a
    {
        font-size: 2rem;
    }

    .page-class
    {
        grid-row-start: 2;
        grid-row-end: 4;
        grid-column-start: 1;
        grid-column-end: 4;
    }

    .sidebar
    {  
        grid-row-start: 1;
        grid-row-end: 1;
        grid-column-start: 1;
        grid-column-end: 4;
        background-color: rgb(42, 177, 255);
        height: auto;
        min-height: auto;
    }

    .sidebar .sandwich-label
    {
        top: 9rem;
    }

    .sidebar .bar
    {
        width: 4rem;
        height: 0.4rem;
        margin: 1.2rem 0.5rem;
    }

    .sidebar #menu
    {
        height: auto;
        min-height: auto;
    }
}